*{
    font-family: 'Marvel', sans-serif;
}

/*Container Formatting*/ 
.nav{
    width:70%;
    float:left;
    clear:both;
    margin-left:15%;
    margin-bottom:1%;
    text-align:center;
}

.header{
    width:70%;
    height:120px;
    float:left;
    clear:both;
    margin-left: 15%;
    margin-bottom:1%;
    background-color:#57A8CC;
}
h1{
    font-size:3em;
    color:white;
    text-align:center;
}


.main{
    width:70%;
    height:auto;
    text-align:center;
    margin-left:15%;
    float:left;
    clear:both;
    z-index:-12;
    
}


.footer{
    width:70%;
    float:left;
    clear:both;
    margin-left:15%;
    margin-top:1%;
    background-color:#57A8CC;
}

/*Navigation Formatting*/

ul li {
    display:inline;
    text-align:center;
    margin:10%
    
}

ul li a{
    color: #57A8CC;
    font-style:normal;
    text-decoration:none;
    font-size:22px;
    
}

a:hover{
    color: #137099;
    text-decoration:none;
    font-size:22px;
    
}

#barbering{
    display:inline-block;
    margin:2%;
    height:200px;
    width:200px;
    z-index:25;
    border:solid 2px #57A8CC;
    background-image:url('../images/Barbering_Blue_Background.png');
    background-size: 200px 200px;
    background-repeat: no-repeat;
}

#barbering:hover {
    
    background-image: url('../images/Barbering_BlueWhite_Background.png');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    height:200px;
    width:200px;
    border:solid 2px #57A8CC;
    
}

#styling{
    display:inline-block;
    margin:2%;
    height:200px;
    width:200px;
    z-index:25;
    border:solid 2px #57A8CC;
    background-image:url('../images/Styling_Blue_Background.png');
    background-size: 200px 200px;
    background-repeat: no-repeat;
}

#styling:hover {
    
    background-image: url('../images/Styling_White_Background.png');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    height:200px;
    width:200px;
    border:solid 2px #57A8CC;
    
}

#ideating{
    display:inline-block;
    margin:2%;
    height:200px;
    width:200px;
    z-index:25;
    border:solid 2px #57A8CC;
    background-image:url('../images/Ideating_Blue_Background.png');
    background-size: 200px 200px;
    background-repeat: no-repeat;
}

#ideating:hover {
    
    background-image: url('../images/Ideating_White_Background.png');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    height:200px;
    width:200px;
    border:solid 2px #57A8CC;
    
}